# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
scrape_log.txt*
Server_log.txt*
Logs/
# Output of builds
dist/
build/

# Puppeteer downloads
.puppeteer/
puppeteer/.local-chromium/

# Environment files
.env

#scrape output
resultados.json*



